bg {
    background-image: linear-gradient(to left, white 60%, blue 40%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Certifique-se de que o fundo ocupe pelo menos a altura da visualização */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo {
    background-color: rgba(14, 94, 213, 0.73);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    font-family: arial, sans-serif;
    color: white;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 380px;
}

input {
    padding: 15px;
    border: none;
    margin-top: 5px;
    width: 350px;
    background-color: #ede8e8;
}

html, body {
    height: 100%;
    margin: 0;
}

.logintext {
    margin-top: 25%;
    margin-left: 10%;
    color: white;
}

h1 {
    font-family: Roboto;
    font-weight: bold;
}

h2 {
    font-family: "Roboto";
}

h3 {
    font-family: "Roboto";
    font-size: medium;
}

h4 {
    font-family: "Roboto";
    font-size: small;
    font-weight: lighter;
}

.login {
    margin-top: 25%;
    margin-left: 10%;
    color: black
}

.department-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    gap: 0px; /* Adiciona um espaço fixo entre os cartões */
}

.file-card {
    text-align: center;
    background-color: #124f72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 250px; /* Largura fixa dos cartões */
    color: white;
    text-decoration: none;
}

.file-card img {
    width: 100%; /* Ajusta a imagem para preencher a largura do cartão */
    height: 150px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Corta a imagem para caber dentro do cartão */
}

.file-card h5 {
    font-size: 15px;
    margin: 10px 0;
}

.department-card {
    text-align: center;
    background-color: #124f72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 250px; /* Largura fixa dos cartões */
    color: white;
    text-decoration: none;
}

.department-card img {
    width: 100%; /* Ajusta a imagem para preencher a largura do cartão */
    height: 280px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Corta a imagem para caber dentro do cartão */
}

.department-card h5 {
    margin: 10px 0;
}

.table-overflow {
    max-height: 100px;
    overflow-y: auto;
}

.imageprofile {
    width: 100px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
}

.imagelogo {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit: contain;
}

.containernav {
    padding: 5px 30px 30px 30px;
}

.navlateral {
    text-align: center;
    color: white;
    align-items: center;
}

.anavlateral {
    width: 200px;
    margin: 5px 0px 0px 5px;
}

.swiper {
    width: 90%;
}

.swiper-slide {
    width: 90%;
}

.containercont {
    padding: 30px 30px 30px 30px;
}
