{% extends "template-navb.html" %}
{% block content %}

<div class="container-fluid">
        <div class="text-center">
            <h3>
                <br> <br>
                Tabela de usuários
                <br>
            </h3>
        </div>

        <!-- Seção de Usuários -->
        <div>
            <div style="max-height: 200px; overflow-y: auto">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Nível</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.company }}</td>
                        <td>{{ usuario.departament }}</td>
                        <td>{{ usuario.role }}</td>
                        <td>
                            <a href="{{ url_for('editar_usuario', id=usuario.idusers) }}"
                               class="btn btn-warning btn-sm">Editar</a>
                            <form action="{{ url_for('excluirUsuario', usuario_id=usuario.idusers) }}" method="POST"
                                  style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="border-dark" style="border-top: 2px solid #000;">

        <div class="text-center">
            <h3>
                <br>
                Tabela de Dashboards
                <br>
            </h3>
        </div>

        <!-- Seção de Dashboards -->
        <div>
            <div style="max-height: 200px; overflow-y: auto;">
                <div class="table table-bordered">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Link</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dashboard in dashboards %}
                        <tr>
                            <td>{{ dashboard.title }}</td>
                            <td>{{ dashboard.link }}</td>
                            <td>{{ dashboard.fileCompany }}</td>
                            <td>{{ dashboard.fileDepartment }}</td>
                            <td>
                                <a href="{{ url_for('editar_dashboard', id=dashboard.idFiles) }}"
                                   class="btn btn-warning btn-sm">Editar</a>
                                <form action="{{ url_for('excluir_dashboard', dashboard_id=dashboard.idFiles) }}"
                                      method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
