<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestão Remota</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('conteudo', department=department) }}">Conteúdo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Arquivos do Departamento: {{ department }}</h2>
    <div class="row">
        {% for arquivo in arquivos %}
            <div class="card" style="width: 18rem; margin: 15px;">
                <img src="{{ url_for('static', filename='img/' ~ arquivo[2]) }}" class="card-img-top" alt="..." style="width: 270px; height: 170px">
                <div class="card-body">
                    <h5 class="card-title">{{ arquivo[0] }}</h5>
                    <p class="card-text">Departamento: {{ arquivo[3] }}</p>
                    <p class="card-text">Empresa: {{ arquivo[4] }}</p>
                    <a href="{{ arquivo[1] }}" class="btn btn-primary">Clique aqui</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
