{% extends "template-navb.html"%}
{% block content%}

{%if arquivos_por_departamento == {} %}
<div class="container">
    <img src="{{url_for('static', filename='img/404.png')}}" style="width: 40%; height: 40%">
    <div><h1>Infelizmente você não tem dashboards cadastradas!</h1></div>
</div>
{%endif%}

<div class="container-fluid">
    <div class="text-center">
        <h3>
            <br> <br>
            Arquívos disponíveis
            <br>
        </h3>
    </div>

    <div class="">
            <nav aria-label="Navegação de página">
                <ul class="pagination justify-content-end mt-4" style="max-width: 95%">
                    {% if arquivos.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('dashboard', page=arquivos.prev_num) }}"
                           aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page_num in arquivos.iter_pages() %}
                    {% if page_num %}
                    {% if page_num == arquivos.page %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=page_num) }}">{{
                        page_num
                        }}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if arquivos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('dashboard', page=arquivos.next_num) }}"
                           aria-label="Próximo">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Próximo">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
    </div>

    <div class="container-fluid col">
        {% for arquivo in arquivos %}
        <div class="card mb-3" style="max-width: 95%;">
            <div class="row g-0">
                <div class="col-md-1">
                    <a href="http://{{ arquivo.link }}">
                        <img src="{{url_for('static', filename='img/icondash.jpg')}}"
                             class="img-fluid rounded-start"
                             alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ arquivo.title }}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary"> Departamento: {{
                            arquivo.fileDepartment}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}
