{% extends "template-navb.html"%}
{% block content%}

<style>
    .background_swipper {
        background-color: #152242;
        padding: 10px 10px 20px 10px;
        margin-top: 10px;
    }
    .swipper_title {
        text-align: center;
        color: white;
        border-bottom: solid white 1px;
    }

    .container{
        text-align: center;
    }
</style>

{%if arquivos_por_departamento == {} %}
    <div class="container">
        <img src="{{url_for('static', filename='img/404.png')}}" style="width: 40%; height: 40%">
        <div><h1>Infelizmente você não tem dashboards cadastradas!</h1></div>
    </div>
{%endif%}

<div style="width: 100%">
    <div style="padding: 10px 50px 0px 50px">
        {% if session['role'] != 'Departamento' %}
        <a class="btn btn-primary" style="display: inline-block; float:right" href="/CadastrarDashboard"> <i
                class="bi bi-file-earmark-plus "></i>Adicionar novo arquivo
        </a>
        {% endif %}
        {% if arquivos_por_departamento != {} %}
           <p style="font-size: 25px; display: inline-block">Departamentos disponíveis</p>
        {% endif %}
    </div>
    {% for departamento, arquivos in arquivos_por_departamento.items() %}
    <div class="department-section background_swipper">
        <div class="swipper_title">
            <h2 style="margin-left: 50px">Departamento {{ departamento }}</h2>
        </div>
        <div class="swiper mySwiper department-container">
            <div class="swiper-wrapper" style="margin-top: 20px">
                {% for arquivo in arquivos %}
                <a href="http://{{ arquivo.link }}" class="swiper-slide file-card">
                    <img src="static/dash/{{arquivo.fileImage}}" alt="">
                    <h5>{{ arquivo.title }}</h5>
                </a>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{%endblock%}
