{% extends "template-navb.html" %}
{% block content %}


<div class="container-fluid mt-5">
    <h3 class="text-center">Cadastrar dashboard</h3>
    <form action="{{ url_for('editar_dashboard', id=dashboard.idFiles) }}" method="POST">
        <div class="row border-3 m-3 border rounded-4 p-4">
            <div class="text-center">
                <h5 class="mb-3">
                    Informações da dashboard
                </h5>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-lg col-form-label" placeholder="Título"
                       value="{{ dashboard.title }}" name="title"
                       required>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-lg col-form-label" placeholder="Link"
                       value="{{ dashboard.link }}" name="link"
                       required>
            </div>
        </div>
        <div class="row border-3 m-3 border rounded-4 p-4">
            <div class="text-center">
                <h5 class="mb-3">
                    Informações corporativas
                </h5>
            </div>
            <div class="col-md-6">
                <input type="text"
                       class="form-control form-control-lg col-form-label" placeholder="Empresa"
                       value="{{ dashboard.fileCompany }}" name="company"
                       {% if session['role']!='Administrador'%} readonly {% endif %}>
            </div>
            <div class="col-md-6">
                <input type="text"
                       class="form-control form-control-lg col-form-label" value="{{ dashboard.fileDepartment }}"
                       placeholder="Departamento"
                       name="department"
                       {% if session['role'] != 'Administrador' and session['role'] != 'Gerente de departamento'
                and session['role'] != 'Gestor' %} readonly {% endif %} required>
            </div>
        </div>

        <div class="row border-3 m-2 border rounded-4 p-4">
            <table class="table table-sm">
                <thead>
                <tr style="color: white; background: none; border: solid 1px white">
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Departamento</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>
                        <input type="checkbox" name="usuarios" value="{{ usuario.idusers }}" {% if usuario.idusers in
                               usuarios_selecionados %}checked{% endif %} style="width: 20px">
                    </td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.company }}</td>
                    <td>{{ usuario.departament }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center mt-5">
            <button class=" col-3 mx-auto btn-lg btn btn-primary" type="reset">Limpar</button>
            <button class=" col-3 mx-auto btn-lg btn btn-warning" type="submit">Atualizar Cadastro</button>
        </div>
    </form>
</div>

{% endblock %}
