{% extends "template-nab.html" %}
{% block content %}

<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="divform">
            <div class="titleform">
                <div class="titlebutton">
                    <a href="/config">
                        <i class="bi bi-arrow-bar-left" style="font-size: 32px; color: white"></i>
                    </a>
                </div>
            </div>
            <div class="backgroundform">
                <form action="{{ url_for('editar_usuario', id=usuario.idusers) }}" method="POST" style="margin-top: 50px;">
                    <div>
                        <h3>Informações pessoais</h3>
                        <div class="inputformuser">
                            <label>Nome Completo</label>
                            <input class="form-control inputformuser" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default" style="width: 700px" name="username"
                                   value="{{ usuario.username }}" required>
                        </div>
                        <div class="inputformuser">
                            <label>Email</label>
                            <input type="email" class="form-control inputformuser" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default" style="width: 700px" name="email"
                                   value="{{ usuario.email }}" required>
                        </div>
                        <h3 style="margin-top: 25px">Informações corporativas</h3>
                        <div class="inputformuser">
                            <label>Empresa</label>
                            <input type="text"
                                   value="{{ usuario.company }}"
                                   class="form-control inputformuser" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default" style="width: 700px" name="company"
                                   {% if session['role'] != 'Administrador' %} readonly {% endif %} required>
                        </div>
                        <div class="inputformuser">
                            <label>Departamento</label>
                            <input type="text"
                                   value="{{ usuario.departament }}"
                                   class="form-control inputformuser" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default" style="width: 700px" name="departament"
                                   {% if session['role'] != 'Administrador' and session['role'] != 'Gerente de departamento' %} readonly {% endif %}>
                        </div>
                        <div class="inputformuser" style="width: 300px; margin-top: 10px;">
                            <label>Nível</label>
                            <select class="form-select" name="role">
                                <option value="Departamento" {% if usuario.role == 'Departamento' %}selected{% endif %}>Departamento</option>
                                {% if session['role'] == 'Administrador' %}
                                <option value="Gerente de departamento" {% if usuario.role == 'Gerente de departamento' %}selected{% endif %}>Gerente de departamento</option>
                                <option value="Gestor" {% if usuario.role == 'Gestor' %}selected{% endif %}>Gestor</option>
                                <option value="Administrador" {% if usuario.role == 'Administrador' %}selected{% endif %}>Administrador</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="inputformuser" style="margin-top: 80px;">
                            <button class="mt-auto p-2 bd-highlight btn btn-warning anavlateral" type="submit">Atualizar cadastro</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
