{% extends "template.html"%}
{% block content%}
<div>
    <div class="d-flex justify-content-between">
        <div style="background-image: url('/static/img/bg.jpg'); width: 65%; height: 100vh">
            <div class="logintext">
                <h1>Gestão Remota</h1>
                <h2 style="font-size: 20px; margin-top: 2px">Bem-vindo!</h2>
            </div>
        </div>
        <div>
            <div class="lo" style="margin-right: 100px; margin-top: 50px">
                <div class="full-height-div d-flex justify-content-center align-items-center">
                    <img src="img/logo.png" style="width: 30%; height: auto%; margin-top: 20%" alt="">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                </div>
                <form action="/" method="POST" style="margin-top: 5%">
                    <h2 style="text-align: center; color: #b8b0b0">LOGIN</h2>
                    <div style="text-align: center">
                        <input type="email" name="email" placeholder="email" style="margin-top: 10px"
                               required> <br>
                        <input type="password" name="password" placeholder="password" style="margin-top: 5px"
                               required>
                        <br>
                    </div>
                    <div style="margin-top: 15px; text-align: center">
                        <button type="submit" class="btn btn-primary" style="width: 350px" ">Login</button>
                    </div>
                </form>
                <div class="d-flex justify-content-left" style="margin-top: 15px"></div>
            </div>
        </div>
    </div>
</div>
{%endblock%}